/* CURRENTLY IN: styles/main.css */
body {
	background-image:			url(../pics/background1.jpg);
	background-size:			cover;
	background-repeat: 			no-repeat;
}

.words {
	display:					none;


}

.show {
	-webkit-transition: background-color ease-in 1s;
	/*-moz-transition: all ease-in 1s;
    -o-transition: all ease-in 1s;
    transition: all ease-in 1s;*/
	display:					block;
	background-color:			white;
	margin-left:				40%;
	padding:					20px;
	position:					absolute;
}



#frame {
	width:						100%;
	height:						70px;			
}

.hide {
	display:					none;
}

.form-group {

}

.alert {
	width:						20%;
	margin:						auto;
}

.title {
	background-color:			rgba(194, 231, 195, 0.8);
	width:						60%;
	margin:						auto;
	margin-top:					20px;
	padding:					20px;
	height:						100%px;
	overflow:					none;
	border-radius:				2px;

}
#sFind, #eFind {
	color:						white;
}

.btn {
	margin:						20px auto;
	width:						15%;
}

.two{
	width:						7%;
	}

.bikeInput {
	width:						35%;
	margin:						auto;
	position:					relative;
}

.docks {
	color:						blue;
}

#resultArea {
	height:						150px;
	width:						55%;
	margin:						auto;
	border-radius:				2px;
	background-color:			rgba(194, 231, 195, 0.8);
	padding:					10px;
	font-size: 					110%;
	padding:					10px;
	font-size: 					110%;
	display:					block;
	overflow: 					auto;
}

@media (max-width: 1000px) {
	.btn {
		width:					40%;
	}

	body {
	background-image:			url(../pics/background1.jpg);
	background-size:			cover;
	background-repeat: 			no-repeat;
}
}


@media (max-width: 480px) {
 /*.jumbotron {
	background-color:			rgba(194, 231, 195, 0.8);
	width:						80%;
	margin:						auto;
	margin-top:					10px;

}*/

.btn {
	margin:						20px auto;
	width:						60%;
}

.two{
	width:						15%;
	}

.bikeInput {
	width:						80%;
	margin:						auto;
}

#resultArea {
	font-size: 					75%;

}

