/* CURRENTLY IN: styles/main.css */
body {
	background-image:			url(../pics/background1.jpg);
	background-size:			cover;
	background-repeat: 			no-repeat;
}

.title {
	background-color:			rgba(194, 231, 195, 0.8);
	width:						60%;
	margin:						auto;
	margin-top:					20px;
	padding:					20px;
	height:						100%px;
	overflow:					none;

}

/*#go {
	color:						white;
	height:						100px;
	width:						100px;
}*/

.btn {
	margin:						20px auto;
	width:						15%;
}

.two{
	width:						7%;
	}

.bikeInput {
	width:						40%;
	margin:						auto;
}

#resultArea {
	height:						150px;
	width:						55%;
	margin:						auto;
	background-color:			rgba(194, 231, 195, 0.8);

}

@media (max-width: 480px) {
 .jumbotron {
	background-color:			rgba(194, 231, 195, 0.8);
	width:						80%;
	margin:						auto;
	margin-top:					10px;

}

.btn {
	margin:						20px auto;
	width:						40%;
}

.two{
	width:						15%;
	}

.bikeInput {
	width:						80%;
	margin:						auto;
}

.result {
	height:						100px;
	width:						80%;
	margin:						auto;
	background-color:			rgba(194, 231, 195, 0.8);
	padding:					20px;
}
}

